@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

html, 
body { 
  width: 100%; 
  height: 100%; 
}

body { 
  font-family: sans-serif;
  margin: 0; 
  --time-remaining-indicator-color: #BBBBBB;
  --urgent-time-remaining-indicator-color: #FF3254;
  --duration-indicator-color: #444444;
  --urgent-duration-indicator-color: #444444;
  --text-color: #FFFFFF;
  --urgent-text-color: #FFFFFF;
}

body.flash:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: red;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  animation: flash 800ms ease-in-out infinite alternate;
  z-index: 9999;
}

p, h1 {
  margin: 0;
}

.hidden {
  display: none;
}

@media (max-width: 144px) {
  .name-label {
    display: none;
  }
}

.widgets {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top-left top-right"
    "bottom-left bottom-right";
}

.top-left {
  grid-area: top-left;
  display: flex;
  justify-content: start;
  align-items: start;
}

.top-right {
  grid-area: top-right;
  display: flex;
  justify-content: end;
  align-items: start;
}

.bottom-left {
  grid-area: bottom-left;
  display: flex;
  justify-content: start;
  align-items: end;
}

.bottom-right {
  grid-area: bottom-right;
  display: flex;
  justify-content: end;
  align-items: end;
}

.text-widget {
  color: var(--text-color);
  font-size: 18px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  margin: 4px;
}

.indicator-widget {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-self: end;
  margin: 4px;
}
.indicator-widget.indicator-on {
  background-color: #FFD100;
  box-shadow: 0 0 8px #FFFFFF;
}
.indicator-widget.indicator-off {
  background-color: #444444;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.timer-view,
.request-lock-permission-view,
.key-bindings-view {
  --shadow-size: 4px;
  position: absolute;
  top: calc(var(--shadow-size) / 2);
  left: calc(var(--shadow-size) / 2);
  width: calc(100% - var(--shadow-size) * 2);
  height: calc(100% - var(--shadow-size) * 2);
  cursor: grab;
  border-radius: 3px;
}

.timer-view.opaque,
.request-lock-permission-view,
.key-bindings-view {
  background-color: #FFFFFF;
  box-shadow: 0 0 var(--shadow-size) rgba(0, 0, 0, 0.5);
}

.timer-view.transparent {
  background-color: transparent;
}

.timer-indicator {
  transform: rotate(-90Deg);
}

.time-remaining-indicator {
  --background-color: var(--time-remaining-indicator-color);
}

.urgent .time-remaining-indicator {
  --background-color: var(--urgent-time-remaining-indicator-color);
}

.duration-indicator {
  --background-color: var(--duration-indicator-color);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));
}

.urgent .duration-indicator {
  --background-color: var(--urgent-duration-indicator-color);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));
}

.timer-label {
  color: var(--text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  gap: 6px;
}

.urgent .timer-label {
  color: var(--urgent-text-color);
}

.time-remaining-label {
  font-size: clamp(14px, 36vw, 72px);
  line-height: clamp(14px, 27vw, 54px);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.name-label {
  font-size: clamp(0px, 6vw, 12px);
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.key-bindings-view:not(.hidden) {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  box-sizing: border-box;
  justify-content: space-between;
}

.key-binding-input {
  font-size: 21px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px;
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  outline: none;
}
.key-binding-input.listening,
.key-binding-input.unset {
  color: #9D9D9D;
  border-color: #000000;
}
.key-binding-input.listening {
  outline: solid 2px #FFBB00;
}
.key-binding-input:not(.listening):hover {
  outline: solid 2px #000000;
}

.key-binding-label {
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 8px;
  display: inline-block;
}

.warning {
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
  box-sizing: border-box;
}

.warning h1 {
  margin-bottom: 16px;
  text-align: center;
}

.button-container {
  display: flex;
  column-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.button {
  all: unset;
  height: 42px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #000000;
  cursor: pointer;
  width: 100%;
}

.positive-button {
  background-color: #A5E9A5;
}
.positive-button:hover {
  background-color: #7ED37E;
  outline: solid 2px #000000;
}

.negative-button {
  background-color: #D3D3D3;
}
.negative-button:hover {
  background-color: #A8A8A8;
  outline: solid 2px #000000;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1 1 auto;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 16px;
}

.lock-indicator {
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}
